
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" >
        

        <button  mat-button routerLink="/camion">
            <mat-icon>assignment</mat-icon>
            <span>Camiones</span>
        </button>

        <button mat-button routerLink="/maritimo" >
            <mat-icon>assignment</mat-icon>
            <span>Maritimo</span>
        </button>
        
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="push">
           hello
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>        
        </mat-sidenav-content>        
  
    </mat-sidenav-container>
  
  </div>