
<h1>Lista de Envios Ruta Maritima</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidadProducto}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precioEnvio}} </td>
      </ng-container>

      <ng-container matColumnDef="guia">
        <th mat-header-cell *matHeaderCellDef> Guia </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroGuia}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="puertoEntrega">
        <th mat-header-cell *matHeaderCellDef> Puerto de Entrega </th>
        <td mat-cell *matCellDef="let element"> {{element.puertoEntrega}} </td>
      </ng-container>
  
      <ng-container matColumnDef="numeroFlota">
        <th mat-header-cell *matHeaderCellDef> Numero de Flota </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroFlota}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef> fechaRegistro </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaEntrega">
        <th mat-header-cell *matHeaderCellDef> fechaEntrega </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaEntrega}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Accion </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary">Editar</button>
            <button mat-button color="warn">Delete</button>   
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>